body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin: 0px;
}

nav {
    width: 100%;
    height: 3em;
    background-color: #FFF;
    text-align: center;
    border-bottom-style: solid;
    border-color: #696969;
    border-bottom-width: 0.05em;
    box-sizing: border-box;
}

li {
    color:	#696969;
    text-decoration: none;
    width: 20em;
    display: inline-block;
    margin-top: 1.5em;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.75em;
}


a:link, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover, a:active {
    color: #FFFFFF;
    font-weight: 600;    
}

ul {
    margin: 0px;
}

header {
    background-color: #B22222;
    background-image: url(images/header-guitar.jpg);
    width: 80%;
    margin-left: 10%;
    height: 25em;
    box-sizing: border-box;
}

h1 {
    color: #8FBC8F;
    font-size: 3em;
    font-weight: 500;
    margin-top: 0.5em;
}

h2 {
    color: #696969;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 0;
}

h3 {
    color: #696969;
    font-size: 1em;
    font-weight: 500;
    margin-top: 0.25em;
    margin-bottom: 5em;
}

p {
    margin-bottom: 5em;
}

article {
    margin-left: 10%;
    width: 80%;
    text-align: center;
    box-sizing: border-box;
}

footer {
    background-color: #000000;
    width: 100%;
    height: 25em;
    text-align: center;
    padding-top: 5em;
    box-sizing: border-box;
}

.galery {
    background-color: #8FBC8F;
    width: 100%;
    margin: 0;
    margin-bottom: 5em;
    box-sizing: border-box;
}

.galery img {
    width: 245px;
    height: 350px;
    padding: 2em 1em;
    box-sizing: border-box;
}

.h2-footer {
    color: #FFF;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 0;
}

.h3-footer {
    color: #FFF;
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 0;
}

.p-footer {
    color: #FFF;
    margin-top: 5em;
    margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
    nav {
        height: 8.5em;
    }
}
